<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce Site</title>
    {% load static %}
    <style>
        body {
            background-color: #17a2b8;
            color: white;
            text-align: center;
            font-family: Arial;
        }
        a {
            color: white;
            margin: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Welcome to Ecommerce Website</h1>

    <p>
        <a href="/admin/">Admin</a>
        <a href="#">User</a>
    </p>

    <h3>Shop Smart. Shop Online.</h3>
</body>
</html>
